/* Tags */

html, body {
    height: 100%;
}

body {
	font-family: Arial Rounded MT Bold;
	color: #000000;
	background-color: #ffffff;
	font-size: 100%;
}

body[data-light-mode=dark] {
	background-color: #000000;
	color:#ffffff;
}

h1 {
	text-align: center;
	padding: 40px 0 60px 0;
	font-size: 3em;
}

h2 {
	font-style: italic;
	font-size: 2em;
}

h3 {
	font-size: 1.75em;
}

h2, h3{
	padding-left: 10px;
}

h1, h2, h3{
	font-family: Dancing Script;
}

p {
	font-size: 1.3em;
}

ul{
	font-size: 1.3em;
	line-height: 170%;
}

iframe {
	height: 1285px;
	width: 100%;
	border: solid;
	border-color: #e6e6e6;
	border-radius: 30px;
	box-shadow: 7px 7px 5px  #bfbfbf;
}

table {
	width: 100%;
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}

/* Classes */

.head p {
	font-size: 1.6em;
	font-family: Dancing Script;
	text-align: right;
}

.head img {
	width: 150px;
	padding: 10px;
}

.navigation {
	overflow: hidden;
	background-color: #4dadb3;
	position: sticky;
	width: 100%;
	border-radius: 10px;
	top: 0;
	z-index: 2;
}
.navigation a {
	float: left;
	display: block;
	color: #f2f2f2;
	width: 25%;
	padding: 15px 0 15px 0;
	text-align: center;
}
.navigation a:hover {
	background-color: #3d898f;
}

.maincontent {
	padding: 10px 0 110px 0;
	position: relative;
}

.aboutme {
	border-spacing: 50px;
}

.introduction p {
	font-size: 1.25em;
	text-align: justify;
	line-height: 150%;
}

.introduction h2 {
	padding-left: initial;
}

.checklist {
	border: solid;
	border-color: #e6e6e6;
	border-radius: 15px;
	box-shadow: 7px 7px 5px  #bfbfbf;
}

.checklist p {
	line-height: 150%;
	padding-left: 50px;
}

.checklist h2 {
	text-align: center;
}

.checklist h3 {
	padding: 15px;
	background: linear-gradient(90deg,#94cdd1, #b8dee0, #edf7f7);
	margin-bottom: 0;
}

.goals p {
	text-align: justify;
	padding: 50px 0 0 10px;
	line-height: 150%;
}

.description {
	font-style: italic;
	text-align: center;
	font-size: 1.3em;
	width: 60%;
	left: 20%;
	position: relative;
}

.bio {
	width: 92%;
	border: solid;
	border-color: #bfbfbf;
	border-width: 2px;
	left: 4%;
	position: relative;
	padding: 20px;
	box-shadow: 7px 7px 5px  #bfbfbf;
}

.bio img {
	height: 200px;
	margin: 0 100px 10px 200px;
}

.bio p {
	min-height: 250px;
	text-align: justify;
	line-height: 170%;
	padding: 40px 10px 10px 10px;
	margin: 20px 0;
}

.card {
	height: 800px;
	width: 100%;
}

.cardtext {
	display: block;
	margin: 0 auto;
	position: relative;
	bottom: 555px;
	width: 400px;
	z-index: 1;
}

.cardtext table {
	width: 500px;
	padding-left: 63px;
}

.cardtext img {
	width: 120px;
}

.reasons {
	width: 70%;
	margin: 0 auto;
	display: block;
}

.reasons h2, h3, ul {
	margin-bottom: 80px;
}

.reasons p {
	line-height: 150%;
	text-align: justify;
}

.banner {
	height: 160px;
	width: 60%;
	position: relative;
	left: 20%;
}

.banner2 {
	height: 300px;
	width: 100%;
}

.banner, .banner2 {
	background-position: center top; 
	background-repeat: no-repeat; 
	background-size: cover;
	filter: opacity(80%) brightness(125%) saturate(2);
	margin-bottom: 100px;
}

.banner a {
	display: block;
	text-align: right;
	padding: 65px 50px 65px 70%;
	font-size: 1.5em !important;
	color: #000000;
}

.TopOfPage {
	overflow: hidden;
	border: solid;
	border-radius: 50%;
	border-color:  #f2f2f2;
	box-shadow: 3px 3px 5px  #bfbfbf;
	background-color:  #2e676b;
	width: 70px;
	height: 70px; 
	bottom: 2%;
	left: 95%;
	z-index: 2;
	position: sticky;
}

.TopOfPage a {
	font-size: 60px;
	color: #f2f2f2;
	text-align: center;
}

.TopOfPage:hover {
	background-color: #3d898f;
}

.foot /* flex-container */ {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	background-color: #4dadb3;
	height: 100px;
	border-radius: 10px;
	margin: 20px 0 10px 0;
	
}
.foot a {
	color: #f2f2f2;
}
.foot button {
	border-radius: 15px;
	height: 35px;
	background-color:  #f2f2f2;
	margin-left: 15px;
	font-size: 0.9em;
	overflow: hidden;
}

.foot button:hover {
	cursor: pointer;
}

.additionals {
	
	padding: 15px;
	text-align:right;
	font-size:1.1em;
}

.fa {
	padding: 5px;
	margin-right: 20px;
	text-align: center;
	text-decoration: none;
}

.social {
	font-size: 1.8em;
}

/* ID's */

#mimo {
	width: 100%;
	border: solid;
	border-radius: 5px;
	border-color: #2e676b;
	box-shadow: 4px 4px 5px  #bfbfbf;

}

#portrait {
	height:200px; 
	border: solid;
	border-radius: 5px;
	border-color: #2e676b;
	box-shadow: 4px 4px 5px  #bfbfbf;
	margin: 40px;
}

#portrait:hover {
	height:500px;
}

#goaltable {
	width: 90%;
	left: 5%;
	position: relative;
	border-spacing: 100px 0;
}

#left {
	width: 50%;
}

#right {
	vertical-align: top;
}

#figure {	
	height: 800px;
	width: auto;
	margin: 0 auto;
	display: block;
	z-index: -1;
}

#cardleft {
	width: 33%;
}

#cardright p {
	font-size: 0.9em;
}

#certificate, #intro {
	width: 38%;
}

#cv {
	width:50%;
}

#wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
	height: 100%;
}
